.navbar-container {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo>img {
    width: 80px;
    cursor: pointer;
}

.logo>h1 {
    font-size: 24px;
    color: #174EB2;
    font-weight: 700;
    cursor: pointer;
    margin: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-items {
    display: flex;
    gap: 30px;
}

.nav-items>h3 {
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.nav-items>h3:hover {
    color: #174EB2;
}

.side-nav-items {
    display: flex;
    align-items: center;
    gap: 16px;
}

.side-nav-items>h3 {
    font-size: 16px;
    font-weight: 400;
    color: #174EB2;
    cursor: pointer;
}

.side-nav-items>img {
    width: 30px;
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 20;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.hamburger.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

@media (max-width: 1024px) {
    .nav-items {
        gap: 20px;
    }

    .nav-links {
        gap: 20px;
    }

    .navbar-container {
        padding: 0 20px;
    }
}

@media (max-width: 850px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        transition: left 0.3s ease;
        z-index: 10;
    }

    .nav-links.open {
        left: 0;
    }

    .nav-items {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .side-nav-items {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}