.partners-container {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.partners-container>h3 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 30px;
}

.partners-container>p {
    color: #5C5C5C;
    text-align: center;
}

.partners-wrapper {
    background-color: #FFF;
    padding: 32px;
    width: 75vw;
    margin: auto;
    box-shadow: 0px 32px 46px -32px rgba(0, 0, 0, 0.101);
}

.partner-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.partner-logo>img {
    cursor: pointer;
}

@media (max-width: 768px) {
    .partners-wrapper {
        width: 90vw;
    }
    .partner-logo {
        gap: 30px;
    }
    .partners-container>p {
        padding: 0 20px;
    }
}